<!DOCTYPE html>
<html lang="zh-CN">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>球队主页</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
  <style>
  .featurette-heading{font-size:  28px}
  .inner{
  text-align:center;
  font-size: 20px;
  color: blue;
}
  </style>
  </head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NBA News</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/home">主页</a></li>
              <li><a href="/team">热度榜</a></li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">球队<span class="caret"></span></a>
                <ul class="dropdown-menu">
		  <li><a href="/team/11/1">费城76人</a></li>
                  <li><a href="/team/28/1">洛杉矶湖人</a></li>
                  <li><a href="/team/7/1">圣安东尼奥马刺</a></li>
                  <li><a href="/team/17/1">波士顿凯尔特人</a></li>
		  <li><a href="/team/27/1">菲尼克斯太阳</a></li>
		<li><a href="/team/12/1">布鲁克林篮网</a></li>
		<li><a href="/team/29/1">洛杉矶快船</a></li>
		<li><a href="/team/13/1">纽约尼克斯</a></li>
		<li><a href="/team/1/1">休斯顿火箭</a></li>
		<li><a href="/team/25/1">金州勇士</a></li>
		<li><a href="/team/30/1">达拉斯独行侠</a></li>
		<li><a href="/team/19/1">俄克拉荷马城雷霆</a></li>
		<li><a href="/team/24/1">萨克拉门托国王</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/team">More</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
<div class = "article">
<br>
<br>
<br>
<br>

  <div class="container marketing">
   <!-- Three columns of text below the carousel -->
 <!-- Main component for a primary marketing message or call to action -->
 <div class="jumbotron">
    <h1>{{teamname}}</h1>
    <br>
    <div class="col-lg-3">
        <h4>创建时间：</h4><p>{{createtime}}</p>
    </div>
    <div class="col-lg-3">
        <h4>城市：</h4><p>{{city}}</p>
    </div>
    <div class="col-lg-3">
        <h4>主场：</h4><p>{{home}}</p>
    </div>
    <div class="col-lg-3">
        <h4>主教练：</h4><p>{{coach}}</p>
    </div>
        <h4>&nbsp&nbsp&nbsp球队介绍：</h4>
      <p>&nbsp&nbsp&nbsp{{intro}}</p>
  </div>
<hr class="featurette-divider">


   <h2>球队成员：</h2>
 <br>
   <div class="row">
     {% for member in memberlist %}
     <div class="col-lg-3">
       <img src="/static/polls/head.jpg" class="img-circle"   width="140" height="140">
       <h3>{{member}}</h3> 
     </div><!-- /.col-lg-4 -->
     {% endfor %}
   </div>

     <br>
     <br>
     <div class = "teamnews">
        <h2>相关新闻：</h2>  
        <hr class="featurette-divider">
     {% if newslist %}
     {% for news in newslist %}
       <div class="col-md-12">
         <a class="featurette-heading" href = "127.0.0.1:8000/news/{{news.index}}" target = "_blank">{{news.title}}</a>
         <p class="lead">{{news.body}}</p>
         <hr class="featurette-divider">
         <br>
         <br>
     </div>
     {% endfor %}
     {% else %}
     <p>暂时没有相关新闻</p>
     {% endif %}
    </div>
    

   </div><!-- /.row -->
  <!---->
</div>


<div id="pages" class="text-center" >
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if newslist.has_previous %}
                    <a class='active' href="/team/{{id}}/{{ newslist.previous_page_number }}">上一页</a>
                {% endif %}
                <span class="current">
                    Page {{ newslist.number }} of {{ newslist.paginator.num_pages }}</span>
                {% if newslist.has_next %}
                    <a class='active' href="/team/{{id}}/{{ newslist.next_page_number }}">下一页</a>
                {% endif %}
                </li></ul></nav>
</div>
<footer>
    <div class="inner">
      <p>by <strong>LiuHongzun</strong> at Tsinghua University , all the news are from &nbsp<a href = "https://voice.hupu.com/nba">voice.hupu.com</a></p>
    </div>
</footer>
</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
